<a href="https://colab.research.google.com/github/KwonHo-geun/automobile/blob/main/25_06_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
thislist = ["apple", "banana", "cherry"]
print(len(thislist))
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(type(thislist))
print(thislist[1])
print(thislist[-1])
print(thislist[1:3])
print(thislist[:3])
print(thislist[2:])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'cherry']
3
<class 'list'>
banana
cherry
['banana', 'cherry']
['apple', 'banana', 'cherry']
['cherry']
['orange', 'kiwi', 'melon']
Yes, 'apple' is in the fruits list

List ììœ¨ì£¼í–‰ ì½”ë“œ(ì£¼í–‰ëª…ë ¹í™•ì¸)

In [ ]:
command = ["ì „ì§„", "í›„ì§„", "ì¢ŒíšŒì „", "ìš°íšŒì „", "ì •ì§€"]
print("ì „ì§„!", command[0])
print("í›„ì§„!", command[1])
print("ì¢ŒíšŒì „!", command[2])
print("ìš°íšŒì „!", command[3])
print("ì •ì§€!", command[4])

speeds = [0, 10, 30, 50, 80, 90, 10]
print("ìµœê³  ì†ë„", max(speeds))
print("ìµœì € ì†ë„", min(speeds))
print("í‰ê·  ì†ë„", sum(speeds)/len(speeds))

ì „ì§„! ì „ì§„
í›„ì§„! í›„ì§„
ì¢ŒíšŒì „! ì¢ŒíšŒì „
ìš°íšŒì „! ìš°íšŒì „
ì •ì§€! ì •ì§€
ìµœê³  ì†ë„ 90
ìµœì € ì†ë„ 0
í‰ê·  ì†ë„ 38.57142857142857

ì„¼ì„œ ë°ì´í„° ëª¨ë‹ˆí„°ë§ ì‹œìŠ¤í…œ

In [ ]:
# ë³€ìˆ˜ ì´ˆê¸°í™”
camera_data = None
lane_lines = []
traffic_signs = []
lidar_points = []
obstacles = []
gps_lat, gps_lon = 0.0, 0.0
gps_altitude = 0.0

# ëª¨ë“  ì„¼ì„œ ë³€ìˆ˜ë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ê´€ë¦¬
sensor_vars = [
    camera_data, lane_lines, traffic_signs,
    lidar_points, obstacles, gps_lat, gps_lon, gps_altitude
]

# ì„¼ì„œ ì´ë¦„ ë¦¬ìŠ¤íŠ¸
sensor_names = [
    "ì¹´ë©”ë¼ ë°ì´í„°", "ì°¨ì„  ì •ë³´", "êµí†µ í‘œì§€íŒ",
    "ë¼ì´ë‹¤ í¬ì¸íŠ¸", "ì¥ì• ë¬¼", "GPS ìœ„ë„", "GPS ê²½ë„", "GPS ê³ ë„"
]

# ì„¼ì„œ ìƒíƒœ ì ê²€
for idx, (sensor, name) in enumerate(zip(sensor_vars, sensor_names)):
    if sensor is None or (isinstance(sensor, list) and len(sensor) == 0):
        print(f"âš ï¸ {name} ì´ìƒ ê°ì§€! ì ê²€ í•„ìš”")
    else:
        print(f"âœ… {name} ì •ìƒ ì‘ë™")

âš ï¸ ì¹´ë©”ë¼ ë°ì´í„° ì´ìƒ ê°ì§€! ì ê²€ í•„ìš”
âš ï¸ ì°¨ì„  ì •ë³´ ì´ìƒ ê°ì§€! ì ê²€ í•„ìš”
âš ï¸ êµí†µ í‘œì§€íŒ ì´ìƒ ê°ì§€! ì ê²€ í•„ìš”
âš ï¸ ë¼ì´ë‹¤ í¬ì¸íŠ¸ ì´ìƒ ê°ì§€! ì ê²€ í•„ìš”
âš ï¸ ì¥ì• ë¬¼ ì´ìƒ ê°ì§€! ì ê²€ í•„ìš”
âœ… GPS ìœ„ë„ ì •ìƒ ì‘ë™
âœ… GPS ê²½ë„ ì •ìƒ ì‘ë™
âœ… GPS ê³ ë„ ì •ìƒ ì‘ë™

ë™ì  ì•ˆì „ ê±°ë¦¬ ì œì–´ ì‹œìŠ¤í…œ

In [ ]:
# ë³€ìˆ˜ ì´ˆê¸°í™”
collision_detected = False
safety_distance = 5.0
emergency_brake = False
nearby_vehicles = [{"distance": 8.0}, {"distance": 12.0}]
weather_condition = "RAIN"
front_vehicle_distance = min([v['distance'] for v in nearby_vehicles]) if nearby_vehicles else float('inf')

# ì•ˆì „ ë³€ìˆ˜ ë¦¬ìŠ¤íŠ¸
safety_params = [collision_detected, safety_distance, emergency_brake]

# ì£¼ë³€ ì°¨ëŸ‰ ê±°ë¦¬ ê¸°ë°˜ ì•ˆì „ ì œì–´
if nearby_vehicles:
    # ì•ˆì „ ê±°ë¦¬ ê³„ì‚°: ë‚ ì”¨ ê°€ì¤‘ì¹˜ ì ìš©
    weather_factor = 1.5 if weather_condition == "RAIN" else 1.0
    adjusted_safety_dist = safety_distance * weather_factor

    if front_vehicle_distance < adjusted_safety_dist:
        print(f"ğŸš¨ ì•ˆì „ ê±°ë¦¬ ë¯¸ë‹¬: {front_vehicle_distance:.1f}m | ê°ì† ì‹œì‘")
        max_deceleration = -6.0
    elif collision_detected:
        print("â— ë¹„ìƒ ì¶©ëŒ ê°ì§€ | ê¸´ê¸‰ ì œë™ í™œì„±í™”")
        emergency_brake = True

ì£¼í–‰ ëª¨ë“œ ì „í™˜ ì‹œìŠ¤í…œ

In [ ]:
# ë³€ìˆ˜ ì´ˆê¸°í™”
driving_mode = "EMERGENCY"
autonomous_mode = True
turning_radius = 5.0
max_acceleration = 3.0

# ì£¼í–‰ ëª¨ë“œ ìš°ì„ ìˆœìœ„ ë¦¬ìŠ¤íŠ¸
mode_priority = ["EMERGENCY", "PARKING", "NORMAL"]

# ëª¨ë“œ ì „í™˜ ê²°ì •
for mode in mode_priority:
    if driving_mode == mode:
        if mode == "EMERGENCY":
            print("ğŸ›‘ ë¹„ìƒ ëª¨ë“œ: ì¦‰ì‹œ ì •ì§€")
            max_acceleration = 0
        elif mode == "PARKING" and autonomous_mode:
            print("ğŸ…¿ï¸ ì£¼ì°¨ ëª¨ë“œ: ìµœëŒ€ íšŒì „ ë°˜ê²½ ì ìš©")
            turning_radius = 3.0
        elif mode == "NORMAL":
            print("ğŸš™ ì¼ë°˜ ì£¼í–‰: ê°€ì†ë„ ìµœëŒ€ì¹˜ ì„¤ì •")
            max_acceleration = 3.0
        break

ğŸ›‘ ë¹„ìƒ ëª¨ë“œ: ì¦‰ì‹œ ì •ì§€

í™˜ê²½ ì¡°ê±´ ê¸°ë°˜ ì†ë„ì œì–´

In [ ]:
# ë³€ìˆ˜ ì´ˆê¸°í™”
weather_condition = "RAIN"
road_condition = "WET"
visibility = 45.0
traffic_light_state = "GREEN"
speed_limit = 50.0

# í™˜ê²½ ë³€ìˆ˜ ë§¤í•‘
env_factors = {
    "weather": weather_condition,
    "road": road_condition,
    "visibility": visibility,
    "traffic_light": traffic_light_state
}

# ì†ë„ ì œí•œ ê³„ì‚°
speed_factor = 1.0
if env_factors["weather"] == "RAIN":
    speed_factor *= 0.7
if env_factors["road"] == "WET":
    speed_factor *= 0.8
if env_factors["visibility"] < 50:
    speed_factor *= 0.6

adjusted_speed_limit = speed_limit * speed_factor
print(f"ğŸŒ§ï¸ í™˜ê²½ ê¸°ë°˜ ì†ë„ ì œí•œ: {adjusted_speed_limit:.1f}km/h ì ìš©")

ğŸŒ§ï¸ í™˜ê²½ ê¸°ë°˜ ì†ë„ ì œí•œ: 16.8km/h ì ìš©

ë¬¼ë¦¬ì  ì œí•œ ì¡°ê±´ ì‹œë®¬ë ˆì´ì…˜

In [ ]:
# ë³€ìˆ˜ ì´ˆê¸°í™”
vehicle_length = 4.5
vehicle_width = 1.8
wheelbase = 2.7
max_acceleration = 3.0
max_deceleration = -8.0
turning_radius = 5.0
current_time = 0.0
dt = 0.1
simulation_time = 0.0

# ì°¨ëŸ‰ ë¬¼ë¦¬ì  íŠ¹ì„± ë¦¬ìŠ¤íŠ¸
vehicle_specs = [
    vehicle_length, vehicle_width, wheelbase,
    max_acceleration, max_deceleration, turning_radius
]

# ì‹œê°„ ê²½ê³¼ì— ë”°ë¥¸ ì°¨ëŸ‰ ë™ì‘ ì‹œë®¬ë ˆì´ì…˜
for t in range(1, 6):
    current_time += dt
    simulation_time = current_time

    # ê°€ì†/ê°ì† íŒ¨í„´ ê³„ì‚°
    if simulation_time < 3.0:
        acceleration = min(max_acceleration, 2.0 * simulation_time)
        print(f"â±ï¸ [T+{simulation_time:.1f}s] ê°€ì†: {acceleration:.1f}m/sÂ²")
    else:
        deceleration = max(max_deceleration, -4.0 * (simulation_time - 3))
        print(f"â±ï¸ [T+{simulation_time:.1f}s] ê°ì†: {deceleration:.1f}m/sÂ²")

â±ï¸ [T+0.1s] ê°€ì†: 0.2m/sÂ²
â±ï¸ [T+0.2s] ê°€ì†: 0.4m/sÂ²
â±ï¸ [T+0.3s] ê°€ì†: 0.6m/sÂ²
â±ï¸ [T+0.4s] ê°€ì†: 0.8m/sÂ²
â±ï¸ [T+0.5s] ê°€ì†: 1.0m/sÂ²

Dict

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

If-else

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

c = 33

if b > a:
  print("b is greater than a")
elif a == c:
  print("a and b are equal")

d = 2
e = 1
#Short
if d > e: print("a is greater than b")

print("d") if d > e else print("e")

a = 330
b = 330
print("a") if a > b else print('=') if a == b else print("b")

#And
a = 200
b = 330
c = 500
if a > b and c > a:
  print("Both conditions are True")

#Or
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

if not a > b:
  print("a is Not greater than b")

x = 41

if x > 10:
  print("Above ten,")

  if x > 20:
    print("and also aboce 20!")
  else:
    print("but not abbove 20")

a = 33
b = 200

if b > a:
  pass

b is greater than a
b is greater than a
a is greater than b
d
=
At least one of the conditions is True
Above ten,
and also aboce 20!

Match

In [ ]:
day = 4
match day: # = Switch
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

match day: #ë§¤ì¹­ì´ ì—†ëŠ” ê³³ì—ëŠ”
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Today is a Weekday")

day1 = 3
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Weekday")
  case 6 | 7:
    print("not Weekday")

month = 5
day2 = 2
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("Sorry I have to go")
  case 1 | 2 | 3 | 4 | 5 if month == 3:
    print("I'm Ok")
  case _:
    print("I don't know")

Thursday
Today is a Weekday
Weekday
Sorry I have to go

While

In [61]:
idx = 1
while idx < 5:
  print(idx)
  idx += 1

idx1 = 0
while idx1 < 4:
  print(f"im {idx1}",idx1)
  if idx1 == 3:
    break
  idx1 += 1

idx2 = 0

while idx2 < 6:
  idx2 += 1
  if idx2 == 3:
    print("ë©€ë´")
    continue
  print(idx2)

1
2
3
4
im 0 0
im 1 1
im 2 2
im 3 3
1
2
ë©€ë´
4
5
6

Lambda

In [73]:
#ì¸ì : ê³„ì‚°ì‹
x = lambda a : a + 10
print(x(5))

y = lambda a, b, : a * b
print(y(5, 6))

z = lambda a, b, c : a + b + c
print(z(5, 6, 2))


def myfunc(n):
  return lambda a : a * n
#ê³ ì •ëœ aê°’ ë¨¼ì € ì „ë‹¬
mydoubler = myfunc(2)
print(mydoubler(11))

mytriper = myfunc(3)
print(mytriper(11))

15
30
13
22
33
Ford

Arrays

In [81]:
"""
Listì™€ Arraysì˜ ì°¨ì•„
Arrays : ë©”ëª¨ë¦¬ ì£¼ì†Œê°€ ì—°ì†ì ì´ë©°, ë°ì´í„° ìœ„ì¹˜ ì§ì ‘ì ì¸ ì ‘ê·¼ ê°€ëŠ¥
List : ë©”ëª¨ë¦¬ ì£¼ì†Œê°€ ì—°ì†ì ì´ì§€ ì•Šìœ¼ë©°, í¬ì¸í„°ë¥¼ í†µí•´ ë‹¤ìŒ ë°ì´í„°ì˜ ìœ„ì¹˜ë¥¼ ê°€ë¦¬
"""
cars = ["Ford", "Volvo", "BMW"]
x = cars[0]
print(x)
print(len(x))

for x in cars:
  print(x)

cars.append("Honda")
print(cars)

cars.pop(1)
print(cars)

Ford
4
Ford
Volvo
BMW
['Ford', 'Volvo', 'BMW', 'Honda']
['Ford', 'BMW', 'Honda']

ValueError: list.remove(x): x not in list

Inheritance - ìƒì†

In [97]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("John", "Doe")
x.printname()

class Student:
  def __init__(self, *name, year):
    self.name = name
    self.year = year
  def printname(self):
    print(self.name, self.year)


x = Student("Mike", "Olsen", year = 2019)
x.printname()
#class method
print(type(x.printname))

#classì— ë”ã…— ì¶”ê°€
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2019)
x.welcome()

John Doe
('Mike', 'Olsen') 2019
<class 'method'>
Welcome Mike Olsen to the class of 2019

Iterators - ìˆœì„œëŒ€ë¡œ ë‹¤ìŒê°’ì„ ë¦¬í„´í• ìˆ˜ ìˆëŠ” ê°ì²´(:next ë©”ì†Œë“œë¥¼ í†µí•´ ë‹¤ìŒê°’ì„ê°€ì ¸ì˜´)

In [108]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

for x in mytuple:
  print(x)

#Iterators ìƒì„±
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1

    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

apple
banana
cherry
b
a
n
a
n
a
apple
banana
cherry
1
2
3
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20