<a href="https://colab.research.google.com/github/KwonHo-geun/automobile/blob/main/25.06.23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = 26
y = "hogeun"
print(x)
print(y)

26
hogeun

In [5]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [7]:
if 5 > 2:
  print("Five is greater than two!")
  print("Five is greater thanb two!")

Five is greater than two!
Five is greater thanb two!

In [12]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [11]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [16]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)
print(x + y + z)
q = 5
w = 10
print(q + w)

Python is awesome
Pythonisawesome
15

In [17]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [18]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [28]:
x =  "Hello World"
y = 20
z = 20.5
w = 1j
e = ["apple", "banana", "cherry"]
r= ("apple", "banana", "cherry")
t = range(6)
y = {"name" : "john" , "age" : " 36"}
u = {"name","john","age"," 36"}
i = frozenset({"apple", "banana", "cherry"})
o = True
p = b"Hello"
a = bytearray(5)
s = memoryview(bytes(5))
d =  None

print(type(x))
print(type(y))
print(type(z))
print(type(w))
print(type(e))
print(type(r))
print(type(t))
print(type(y))
print(type(u))
print(type(i))
print(type(o))
print(type(p))
print(type(a))
print(type(s))
print(type(d))

<class 'str'>
<class 'dict'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

In [31]:
x = -35.29
print(x)
print(type(x))
x = int(1)
y = int(2.9)
z = int("3")
print(x)
print(y)
print(z)

-35.29
<class 'float'>

In [36]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("5.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
5.2

In [39]:
a = """Lore ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."""
print(a)
a = '''lore Ipsum dolor sit amet,
consectetur adipiscing dlit, sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lore ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
lore Ipsum dolor sit amet,
consectetur adipiscing dlit, sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [45]:
b = "Hello World"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2])

llo
Hello
llo World
Wor

In [49]:
a = "Hello world"
print(a.upper())
print(a.lower())
print(a.strip())

HELLO WORLD
hello world
Hello world

In [51]:
a = "Hello"
b = "World"
c = a + b
print(c)

c = a + " " + b
print(c)

HelloWorld
Hello World

In [55]:
age = 26
txt = f"My name is Hogeun, I am {age}"
print(txt)
price = 59
txt = f"The Price is {price} dollars"
print(txt)
txt = f"The price is {20 * 59} dollars"
print(txt)

My name is Hogeun, I am 26
The Price is 59 dollars
The price is 1180 dollars

In [70]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)
txt = "We are the so-called \'Vikings\' from the north."
print(txt)
txt = "We are the so-called \\Vikings\\ from the north."
print(txt)
txt = "We are the so-called \nVikings\n from the north."
print(txt)
#Carriage Return
txt = "We are the so-called \rVikings\r from the north."
print(txt)
txt = "We are the so-called \tVikings\t from the north."
print(txt)
txt = "We are the so-called \bVikings\b from the north."
print(txt)
txt = "We are the so-called \fVikings\f from the north."
print(txt)

We are the so-called "Vikings" from the north.
We are the so-called 'Vikings' from the north.
We are the so-called \Vikings\ from the north.
We are the so-called
Vikings
 from the north.
 from the north.
We are the so-called 	Vikings	 from the north.
We are the so-called Vikings from the north.
We are the so-called Vikings from the north.
We are the so-called \oooVikings from the north.

In [75]:
txt = "We are the so-called Vikings from the north."
print(txt.capitalize())
txt = "We are the so-called Vikings from the north."
print(txt.casefold())

We are the so-called vikings from the north.
we are the so-called vikings from the north.