<a href="https://colab.research.google.com/github/KwonHo-geun/automobile/blob/main/25.06.24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

25.06.25 - tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(len(thistuple))

thistuple1 = ("apple",)
print(type(thistuple1))

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1,4,6,7,8)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

tuple4 = ("abc", 34, True, 40, "male")
print(type(tuple4))
print(tuple4[1])
print(tuple4[-1])

#Access
tuple5 = ("apple", "banana", "cherry", "orange", "kiwi","melon","mango")
print(tuple5[2:5])
print(tuple5[2:])
print(tuple5[-4:-1])
if "apple" in tuple5:
  print("OK")

#Update
x = ("apple", "banana", "cherry")
y = list(x)
print(type(y))
y[1] = "kiwi"
x = tuple(y)
print(x)
print(type(x))
#Add
tuple6 = ("apple", "banana", "cherry")
y = list(tuple6)
y.append("orange")
print(y)
y = ("fine", )
tuple6 += y
print(tuple6)
# Remove
tuple7 = ("고지식", "고집","번지르르")
y = list(tuple7)
y.remove("번지르르")
print(y)
del tuple7
#print(tuple7)

fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

#Unpack
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits #마지막 리스트 추가
print(green)
print(yellow)
print(red)

(green, *tropic, red) = fruits #중간에 리스트
print(green)
print(tropic)
print(red)

#Loop
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
for x in fruits:
  print(x)

for y in range(len(fruits)):
  print(fruits[y])

z = 0
while z < len(fruits):
  print(fruits[z])
  z = z + 1

tuple8 = ("1", "2", "3")
tuple9 = (4,5,6)
tuple10 = tuple8 + tuple9
print(tuple10)

multuple = tuple8 * 2
print(multuple)
print(tuple9.count(5))
print(tuple9.index(5))

('apple', 'banana', 'cherry')
3
<class 'tuple'>
('apple', 'banana', 'cherry')
(1, 4, 6, 7, 8)
(True, False, False)
<class 'tuple'>
34
male
('cherry', 'orange', 'kiwi')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')
OK
<class 'list'>
('apple', 'kiwi', 'cherry')
<class 'tuple'>
['apple', 'banana', 'cherry', 'orange']
('apple', 'banana', 'cherry', 'fine')
['고지식', '고집']
apple
banana
cherry
apple
banana
['cherry', 'strawberry', 'raspberry']
apple
['banana', 'cherry', 'strawberry']
raspberry
apple
banana
cherry
strawberry
raspberry
apple
banana
cherry
strawberry
raspberry
apple
banana
cherry
strawberry
raspberry
('1', '2', '3', 4, 5, 6)
('1', '2', '3', '1', '2', '3')
1
1

Set

In [ ]:
thisiset = {"hoseo","univercity","holy"}
print(thisiset)
print(len(thisiset))
thisiset1 = {"apple", "banana", "cherry", False, True, 0}
print(thisiset1)

set1 = {"apple", "banana", "cherry"}
set2 = {1,5,7,9,4}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)
print(type(set2))

for sese in set2:
  print(sese)

print("banana" in set1)

set1.add("orange")
print(set1)

thisiset.update(set2)
print(thisiset)

thisiset2 = {"ppap", "upda", "bounderi"}
mylist = ["apple", "banana"]

thisiset2.update(mylist)
print(thisiset2)

#Remove
thisiset2.remove("ppap")
print(thisiset2)

thisiset2.discard("upda")
print(thisiset2)

x = thisiset2.pop()
print(thisiset2)

thisiset3 = {"apple", "banana", "cherry"}
thisiset3.clear()
print(thisiset3)

thisiset4 = {"apple", "banana", "cherry"}
del thisiset4
#print(thisiset4)

#Loop
thisiset5 = {"범죄","심리","연구"}
for wow in thisiset5:
  print(wow)

#Join
set1 = {"d", "e", "f"}
set2 = {1, 2, 3}
set3 = set1.union(set2)

set4 = set1 | set2
print(set3)
print(set4)

x = {"a", "b", "c"}
y = {1,2,3}
z = {"hogeun","kwon"}
w = {"apple", "bananas", "cherry"}
myset = x.union(y,z,w)
myset1 = x | y | z | w
print(myset)
print(myset1)

e = x.union(y)
print(e)

z.update(w)
print(z)

#Join - 공통 원자 찾기
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

set4 = set1 & set2
print(set4)

#교집합을 찾음, False = 0이라 False만 나옴
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

aset1 = {"apple", "banana", "cherry"}
aset2 = {"google", "microsoft", "apple"}

aset3 = aset1.difference(aset2)
print(aset3)

aset4 = aset1 - aset2
print(aset4)

aset1.difference_update(aset2)
print(aset1)

aset5 = aset1 ^ aset2
print(aset5)

aset1.symmetric_difference_update(aset2)
print(aset1)

{'hoseo', 'holy', 'univercity'}
3
{'banana', True, False, 'apple', 'cherry'}
{'banana', 'cherry', 'apple'}
{1, 4, 5, 7, 9}
{False, True}
<class 'set'>
1
4
5
7
9
True
{'banana', 'orange', 'cherry', 'apple'}
{1, 4, 5, 7, 'holy', 9, 'univercity', 'hoseo'}
{'banana', 'upda', 'apple', 'bounderi', 'ppap'}
{'banana', 'upda', 'apple', 'bounderi'}
{'banana', 'apple', 'bounderi'}
{'apple', 'bounderi'}
set()
연구
범죄
심리
{1, 2, 'f', 'e', 'd', 3}
{1, 2, 'f', 'e', 'd', 3}
{1, 2, 'b', 3, 'hogeun', 'kwon', 'cherry', 'apple', 'c', 'bananas', 'a'}
{1, 2, 'b', 3, 'hogeun', 'kwon', 'cherry', 'apple', 'c', 'bananas', 'a'}
{1, 'c', 'b', 2, 3, 'a'}
{'hogeun', 'kwon', 'apple', 'bananas', 'cherry'}
{'apple'}
{'apple'}
{False, 1, 'apple'}
{'banana', 'cherry'}
{'banana', 'cherry'}
{'banana', 'cherry'}
{'banana', 'google', 'microsoft', 'cherry', 'apple'}
{'banana', 'google', 'microsoft', 'cherry', 'apple'}

Dict

In [ ]:
thisdict = {
    "brand" : "Food",
    "model" : "Mustang",
    "year" : 1964
}
x = thisdict["model"]
print(x)
y = thisdict.get("year")
print(y)
z = thisdict.keys()
print(z)

thisdict["color"] = "white"
print(thisdict)

w = thisdict.values()
print(w)

e = thisdict.items()
print(e)

thisdict["year"] = 2020
print(e)

thisdict.update({"year" : 1990})
print(thisdict)

#Remoive
thisdict1 = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : "1964"
}
thisdict1.pop("model")
print(thisdict1)

thisdict1.popitem()
print(thisdict1)

del thisdict["model"]
print(thisdict1)

thisdict.clear()
print(thisdict)

#Loop
thisdict2 = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : "1964"
}
#key
for who_is_your_daddy in thisdict2:
  print(who_is_your_daddy)

for who_s_your_mommy in thisdict2:
  print(f"{who_s_your_mommy}")

#values
for w in thisdict2:
  print(thisdict2[w])

for w, who_is_your_daddy in thisdict2.items():
  print(w, who_is_your_daddy)

#Copy
thisdict3 = {
    "brand" : "1Ford",
    "model" : "1Mustang",
    "year" : "11964"
}
mydict = thisdict3.copy()
print(mydict)

mydict1 = dict(thisdict3)
print(mydict1)

myfamily = {
    "child1" :{
        "name" : "emil",
        "year" : 2000
    },
    "child2" :{
        "name" : "tobias",
        "year" : 1999
    },
    "child3" : {
        "name" : "linus",
        "year" : 2011
    }
}

print(myfamily)
print(myfamily["child2"]["name"])

for x, obj in  myfamily.items():
  print(x)
  for key in obj:
    print(key + ':', obj[key])

Mustang
1964
dict_keys(['brand', 'model', 'year'])
{'brand': 'Food', 'model': 'Mustang', 'year': 1964, 'color': 'white'}
dict_values(['Food', 'Mustang', 1964, 'white'])
dict_items([('brand', 'Food'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])
dict_items([('brand', 'Food'), ('model', 'Mustang'), ('year', 2020), ('color', 'white')])
{'brand': 'Food', 'model': 'Mustang', 'year': 1990, 'color': 'white'}
{'brand': 'Ford', 'year': '1964'}
{'brand': 'Ford'}
{'brand': 'Ford'}
{}
brand
model
year
brand
model
year
Ford
Mustang
1964
brand Ford
model Mustang
year 1964
{'brand': '1Ford', 'model': '1Mustang', 'year': '11964'}
{'brand': '1Ford', 'model': '1Mustang', 'year': '11964'}
{'child1': {'name': 'emil', 'year': 2000}, 'child2': {'name': 'tobias', 'year': 1999}, 'child3': {'name': 'linus', 'year': 2011}}
tobias
child1
name: emil
year: 2000
child2
name: tobias
year: 1999
child3
name: linus
year: 2011

25.06.25 - Function

In [29]:
def my_function():
  print("Hello From a Function")

my_function()

def my_function1(fname):
  print(fname + "Tefsnes")

my_function1("Emil")
my_function1("Toobias")
my_function1("Linus")

def my_function2(fname, Iname):
  print(fname + " " + Iname)

my_function2("Emil", "Refsnes")

#전달 인자의 갯수를 모를 경우 즉, n개의 인자를 받고싶을 때 사용 class는 tuple
def my_function3(*kids):
  print("The youngest child is" + kids[2])
  print("The youngest child is" + kids[1])
  print("The youngest child is" + kids[0])
  print(type(kids))

my_function3("Emil", "Tobias", "Linus")

#키워드 인자
def my_function4(child3, child2, child1):
  print("The Olderest child is" + child3)

my_function4(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

#keyword arguments 즉, dict의 keyword를 받는다는 것.
def my_function5(**kid):
  print("His last name is" + kid["lname"])
  print(type(kid))

my_function5(fname = "Tobias", lname = "Refsnes")

def my_function6(country = "Norwat"):
  print("I am 신뢰에요" + country)

my_function6("sweden")
my_function6("india")
my_function6()
my_function6("Brazil")

def my_function7(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]
my_function7(fruits)

def my_function8(x):
  return 7 * x

print(my_function8(3))
print(my_function8(4))
print(my_function8(5))

def myfunction9():
  pass

def my_function10(x, /):
  print(x)
my_function10(3)

def my_function11(*, x):
  print(x)
my_function11(x = 5)

# *가 붙는 순간 c = 7이라 명시를 해줘야 함
def my_function12(a, b, /, *, c,d):
  print(a+b+c+d)

my_function12(5,6, c = 7, d = 8)

#재귀함수
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1) #이걸로 계속 k값을 리턴해서 0꺄지함
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results: ")
tri_recursion(6)

Hello From a Function
EmilTefsnes
ToobiasTefsnes
LinusTefsnes
Emil Refsnes
The youngest child isLinus
The youngest child isTobias
The youngest child isEmil
<class 'tuple'>
The Olderest child isLinus
His last name isRefsnes
<class 'dict'>
I am 신뢰에요sweden
I am 신뢰에요india
I am 신뢰에요Norwat
I am 신뢰에요Brazil
apple
banana
cherry
21
28
35
3
5
26
Recursion Example Results:
1
3
6
10
15
21

21

Class

In [43]:
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)
print(p1.name)
print(p1.age)

#__str__ = 문자열 객체 반환
class Person1:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person1("John", 36)
print(p1)

#Obj
class Person2:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p2 = Person2("John", 36)
p2.myfunc()

#self - Python의 첫 번째 매개변수, 굳이 self라 칭할 필요는 없으나 첫 번째 인자로 반드시 와야함
class Person3:
  def __init__(mysillyobj, name, age):
    mysillyobj.name = name
    mysillyobj.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p3 = Person3("JohnG", 35)
p3.myfunc()

SyntaxError: expected '(' (ipython-input-43-3623735633.py, line 51)