<a href="https://colab.research.google.com/github/KwonHo-geun/automobile/blob/main/25.06.23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = 26
y = "hogeun"
print(x)
print(y)

26
hogeun

In [5]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [7]:
if 5 > 2:
  print("Five is greater than two!")
  print("Five is greater thanb two!")

Five is greater than two!
Five is greater thanb two!

In [12]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [11]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [16]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)
print(x + y + z)
q = 5
w = 10
print(q + w)

Python is awesome
Pythonisawesome
15

In [17]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [18]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [28]:
x =  "Hello World"
y = 20
z = 20.5
w = 1j
e = ["apple", "banana", "cherry"]
r= ("apple", "banana", "cherry")
t = range(6)
y = {"name" : "john" , "age" : " 36"}
u = {"name","john","age"," 36"}
i = frozenset({"apple", "banana", "cherry"})
o = True
p = b"Hello"
a = bytearray(5)
s = memoryview(bytes(5))
d =  None

print(type(x))
print(type(y))
print(type(z))
print(type(w))
print(type(e))
print(type(r))
print(type(t))
print(type(y))
print(type(u))
print(type(i))
print(type(o))
print(type(p))
print(type(a))
print(type(s))
print(type(d))

<class 'str'>
<class 'dict'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

In [31]:
x = -35.29
print(x)
print(type(x))
x = int(1)
y = int(2.9)
z = int("3")
print(x)
print(y)
print(z)

-35.29
<class 'float'>

In [36]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("5.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
5.2

In [39]:
a = """Lore ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."""
print(a)
a = '''lore Ipsum dolor sit amet,
consectetur adipiscing dlit, sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lore ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
lore Ipsum dolor sit amet,
consectetur adipiscing dlit, sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [45]:
b = "Hello World"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2])

llo
Hello
llo World
Wor

In [49]:
a = "Hello world"
print(a.upper())
print(a.lower())
print(a.strip())

HELLO WORLD
hello world
Hello world

In [51]:
a = "Hello"
b = "World"
c = a + b
print(c)

c = a + " " + b
print(c)

HelloWorld
Hello World

In [55]:
age = 26
txt = f"My name is Hogeun, I am {age}"
print(txt)
price = 59
txt = f"The Price is {price} dollars"
print(txt)
txt = f"The price is {20 * 59} dollars"
print(txt)

My name is Hogeun, I am 26
The Price is 59 dollars
The price is 1180 dollars

In [70]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)
txt = "We are the so-called \'Vikings\' from the north."
print(txt)
txt = "We are the so-called \\Vikings\\ from the north."
print(txt)
txt = "We are the so-called \nVikings\n from the north."
print(txt)
#Carriage Return
txt = "We are the so-called \rVikings\r from the north."
print(txt)
txt = "We are the so-called \tVikings\t from the north."
print(txt)
txt = "We are the so-called \bVikings\b from the north."
print(txt)
txt = "We are the so-called \fVikings\f from the north."
print(txt)

We are the so-called "Vikings" from the north.
We are the so-called 'Vikings' from the north.
We are the so-called \Vikings\ from the north.
We are the so-called
Vikings
 from the north.
 from the north.
We are the so-called 	Vikings	 from the north.
We are the so-called Vikings from the north.
We are the so-called Vikings from the north.
We are the so-called \oooVikings from the north.

In [102]:
txt = "We are the so-called Vikings from the north."
print(txt.capitalize())
print(txt.casefold())
print(txt.center(30))
print(txt.count(a))
print(txt.encode())
print(txt.endswith("north."))
print(txt.find("north"))
print(txt.index("north"))
print(txt.isalnum())
print(txt.isalpha())
print(txt.isdecimal())
print(txt.isdigit())
print(txt.isidentifier())
print(txt.islower())
print(txt.isnumeric())
print(txt.isprintable())
print(txt.isspace())

We are the so-called vikings from the north.
we are the so-called vikings from the north.
We are the so-called Vikings from the north.
0
b'We are the so-called Vikings from the north.'
True
38
38
False
False
False
False
False
False
False
True
False

In [106]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

print(bool("Hello"))
print(bool(15))

True
False
False
b is not greater than a
True
True

In [116]:
x = 3
print(x)
x += 3
print(x)
x -= 3
print(x)
x *= 3
print(x)
x /= 3
print(x)
x %= 3
print(x)
x = 3
x //= 3
print(x)
x = 3
x **= 3
print(x)
x &= 3
print(x)
x |= 3
print(x)
x ^= 3
print(x)

3
6
3
9
3.0
0.0
1
27
3
3
0

List

In [158]:
mylist = ["apple", "banana", "cherry"]
print(mylist)
print(len(mylist))
list1 = ["abc", 34, True, 40, "male"]
print(type(list1))
thislist = list(("apple", "banana", "cherry"))
print(thislist)
print(type(thislist))

print(mylist[-1])
thislist1 = ["apple", "banana", "cherry", "orange", "kwi", "melon", "mango"] #2,3,4만 return
print(thislist1[2:5])
print(thislist1[:4])
print(thislist1[2:])
print(thislist1[-4:-1])
if "kwi" in thislist1:
  print("Yes, 'kwi' is in the fruits list")

thislist1[1:3] = ["balckcurrant", "watermelon"]
print(thislist1)

thislist2 = ["apple", "banana", "cherry"]
thislist2[1:3] = ["watermelon"]
print(thislist2)

thislist2 = ["apple", "banana", "cherry"]
thislist2.append("orange")
print(thislist2)
thislist2.insert(1, "orange")
print(thislist2)

#extends
thislist2.extend(thislist1)
print(thislist2)

thislist2 = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist2.extend(thistuple)
print(thislist2)

#remove
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")
print(thislist)

thislist.pop(1)
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

#range
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)
for i in range(len(thislist)):
  print(thislist[i])

i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

#Comprehension
fruits = ["apple", "mango", "banana", "cherry", "kiwi"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)

newlist = [x for x in fruits if x != "apple"]
print(newlist)

newlist = [x for x in fruits]
print(newlist)

newlist = [x for x in range(10)]
print(newlist)

newlist = [x for x in range(10) if x < 5]
print(newlist)

newlist = [x.upper() for x in fruits]
print(newlist)

newlist = ['hello' for x in fruits]
print(newlist)

newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'banana', 'cherry']
3
<class 'list'>
['apple', 'banana', 'cherry']
<class 'list'>
cherry
['cherry', 'orange', 'kwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kwi', 'melon', 'mango']
['orange', 'kwi', 'melon']
Yes, 'kwi' is in the fruits list
['apple', 'balckcurrant', 'watermelon', 'orange', 'kwi', 'melon', 'mango']
['apple', 'watermelon']
['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry', 'orange', 'apple', 'balckcurrant', 'watermelon', 'orange', 'kwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'orange']
['banana', 'cherry']
['banana']
['banana', 'cherry']
[]
apple
banana
cherry
apple
banana
cherry
apple
banana
cherry
['apple', 'mango', 'banana']
['mango', 'banana', 'cherry', 'kiwi']
['apple', 'mango', 'banana', 'cherry', 'kiwi']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
['APPLE', 'MANGO', 'BANANA', 'CHERRY', 'KIWI']
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'mango', 'orange', 'cherry', 'kiwi']

SortList

In [167]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
thislist.sort(reverse = True)
print(thislist)

thislist1 = [100, 50, 65, 82, 23]
thislist1.sort() #오름차순
print(thislist1) #내림차순
thislist1.sort(reverse = True)
print(thislist1)


def myfunc(n):
  return abs(n - 50) #n - 50을 해서 가장 작은값이 첫번째로 제일 큰값이 마지막으로 정렬

thislist1.sort(key = myfunc)
print(thislist1)

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
thislist.reverse()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]
[50, 65, 23, 82, 100]
['Orange', 'Kiwi', 'cherry', 'banana']

CopyLIst

In [172]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

mylist = list(thislist)
print(mylist)

#joinList
list1 = ["a", "b", "c"]
list2 = [1,2,3]
list3 = list1 + list2
print(list3)

for x in list2:
  list1.append(x)
print(list1)

list1.extend(list2)
print(list1)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

tuple